In [2]:
# install the proper libraries
import pandas as pd

In [3]:
# establishing the data sets as individual varables
data_cust = pd.read_csv('../e-com-data/raw_data/CSVs/olist_customers_dataset.csv')

data_geo = pd.read_csv('../e-com-data/raw_data/CSVs/olist_geolocation_dataset.csv')

data_order_item = pd.read_csv('../e-com-data/raw_data/CSVs/olist_order_items_dataset.csv')

data_payment =  pd.read_csv('../e-com-data/raw_data/CSVs/olist_order_payments_dataset.csv')

data_reviews = pd.read_csv('../e-com-data/raw_data/CSVs/olist_order_reviews_dataset.csv')

data_orders = pd.read_csv('../e-com-data/raw_data/CSVs/olist_orders_dataset.csv')

data_product = pd.read_csv('../e-com-data/raw_data/CSVs/olist_products_dataset.csv')

data_sellers = pd.read_csv('../e-com-data/raw_data/CSVs/olist_sellers_dataset.csv')

data_product_catagory_name_trans = pd.read_csv('../e-com-data/raw_data/CSVs/product_category_name_translation.csv')

In [4]:
#main Order Data set (Red)
#order_1 = pd.merge(data_orders,data_order_item,on="order_id")
order_2 = pd.merge(data_orders, data_payment, on = "order_id")
order_3 = pd.merge(order_2, data_reviews, on= "order_id")
main_order = pd.merge(order_3, data_cust, on = 'customer_id')
main_order

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,boleto,...,8d5266042046a06655c8db133d120ba5,4,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,credit_card,...,e73b67b67587f7644d5bd1a52deb1b01,5,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103672,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,1,credit_card,...,e262b3f92d1ce917aa412a9406cf61a6,5,NaN,NaN,2017-03-22 00:00:00,2017-03-23 11:02:08,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP
103673,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,1,credit_card,...,29bb71b2760d0f876dfa178a76bc4734,4,NaN,So uma peça que veio rachado mas tudo bem rs,2018-03-01 00:00:00,2018-03-02 17:50:01,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
103674,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,1,credit_card,...,371579771219f6db2d830d50805977bb,5,NaN,Foi entregue antes do prazo.,2017-09-22 00:00:00,2017-09-22 23:10:57,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
103675,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1,credit_card,...,8ab6855b9fe9b812cd03a480a25058a1,2,NaN,Foi entregue somente 1. Quero saber do outro p...,2018-01-26 00:00:00,2018-01-27 09:16:56,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
103676,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,1,debit_card,...,dc9c59b4688062c25758c2be4cafc523,5,NaN,NaN,2018-03-17 00:00:00,2018-03-17 16:33:31,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

In [6]:

data_geo["seller_state"] = data_geo['geolocation_state']
data_geo

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_state
0,1037,-23.545621,-46.639292,sao paulo,SP,SP
1,1046,-23.546081,-46.644820,sao paulo,SP,SP
2,1046,-23.546129,-46.642951,sao paulo,SP,SP
3,1041,-23.544392,-46.639499,sao paulo,SP,SP
4,1035,-23.541578,-46.641607,sao paulo,SP,SP
...,...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS,RS

In [8]:
seller_geo_data = pd.merge(data_sellers,data_geo, on = 'seller_state')

In [ ]:
data_sellers.head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

In [ ]:
#main Item Data Set(or)
product_1 = pd.merge(data_order_item,data_product, on = 'product_id')
product_2 = pd.merge(product_1, seller_geo_data, on = 'seller_id')